.footer-container {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #808080;

    .footer-logo-container {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 15px 0;

        .footer-logo-asset {
            a {
                img {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    border-radius: 50%;
                    background-color: white;
                    border: 1px solid white;
                }
            }
        }
    }

    .footer-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        padding: 25px 0;

        a {
            color: white;
            text-decoration: none;
            transition: opacity 0.2s ease;
            

            &:hover {
                opacity: 0.7;
            }
        }
    }

    .footer-text {
        p {
            margin: 0;
            color: white;
            font-size: 12px;
        }
    }
}

@media (max-width: 767px) {
    .footer-container {
        height: auto;
        padding: 20px;

        .footer-nav {
            flex-wrap: wrap;
            gap: 15px;
        }
    }
}